@use '../variables.module.scss' as *;
@import "src/styles/_mixin.scss";

.pullDownContainer{
  display: flex;
  flex-direction: column;
  //gap: 10px;
  width: 400px;
}

.pullDownInput {
  height: 50px;
}

.optionContainer {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 2px 0;

  &:hover{
    background-color: red;
  }
}

.icon {
  width: 25px;
  height: 25px;
}
