@use '../variables.module.scss' as *;
@import "src/styles/_mixin.scss";

.pullDownContainer{
  display: flex;
  flex-direction: column;
}
.inputContainer {
  border: solid 1px black;

  input {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.pullDownInput {
  height: 50px;
}

.optionContainer {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 2px 0;


  .selectOption{
    background: red;
  }

  .unSelectOption{
    background: rgba(0,0,0,.03);
    background: red;
  }

  &:hover{
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95)
  }
}

.icon {
  width: 25px;
  height: 25px;
}
.test{
  background-color: black;
}
